.App {
  text-align: center;
}

.App-header {
  background-color: #EEF7FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fundo{
  background-color: #EEF7FF;
}
