html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #050d3b, #1f3f87);
    background-repeat: no-repeat;
    background-size: cover;
}

.writeBox{
    background-color: white;
    height: 200px; 
    width: 350px;
  overflow-y: auto;
}