.navbar {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    background-color: #03AED2;
    padding: 0;
    height: 10vh;
    position: relative;
}

.navbar img {
    height: 75%;
    margin-left: 15px;
    margin-right: auto;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 35px;
    color: white;
    text-decoration: none;
    background-color: #03AED2;
    cursor: pointer;
    font-size: 140%;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #68D2E8;
}

  
.profile-item {
    position: relative;
    cursor: pointer;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: auto;
    min-width: 150px;
    z-index: 1000;
  }
  
  .dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
  }
  
  .dropdown-item:hover {
    background-color: #f7f7f7;
  }
  